@model crud_example.Models.EmpModel

<div>
    <hr />
    <style>
        table {
            border: 1px solid #87868b;
        }

        td {
            width: 40px;
            padding: 5px;
            border: 1px solid #87868b;
        }

        th {
            width: 50px;
            padding: 5px;
            border: 1px solid #87868b;
        }
    </style>
    <div class="title-heading" style="background-color: lightskyblue; font-size:26px; border:1px solid black">View User</div>
    <table class="table">
        <tbody>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Userid)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Userid)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Username)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Password)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DOB)
                </th>
                <td>
                    @Html.DisplayFor(model => model.DOB)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <td>
                    @Html.DisplayFor(model => model.Gender)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CityName)
                </th>
                <td>
                    @Html.DisplayFor(model => model.CityName)
                </td>
            </tr>
        </tbody>
    </table>
                   
    <p>
        <a href="@Url.Action("GetAllEmpDetails")" class="btn btn-info">Back to Details</a>
    </p>
