@model IEnumerable<crud_example.Models.EmpModel>

<p>
    @Html.ActionLink("Add User", "AddEmployee")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        @*<th>
            C#
        </th>
        <th>
            Java
        </th>
        <th>
            Python
        </th>*@
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        @Html.HiddenFor(model => item.Userid)
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Username)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Password)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DOB)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gender)
    </td>
    @*<td>
            @Html.CheckBoxFor(modelItem => item.IsInterestedInCsharp) C#
        </td>
        <td>
            @Html.CheckBoxFor(modelItem => item.IsInterestedInJava) Java
        </td>
        <td>
            @Html.CheckBoxFor(modelItem => item.IsInterestedInPython) Python
        </td>*@
    @*<td>
            @Html.ActionLink("Edit", "EditEmpDetails", new { id = item.Userid }) |
            @Html.ActionLink("Delete", "DeleteEmp", new { id = item.Userid }, new { onclick = "return confirm('Are You sure do you wants to delete?');" })
        </td>*@
<td>
    @Html.ActionLink("Edit", "EditEmpDetails", new { id = item.Userid }, new { style = "color: blue; font-weight: bold;" }) &nbsp;&nbsp;&nbsp;|
    @Html.ActionLink("Delete", "DeleteEmp", new { id = item.Userid }, new { onclick = "return confirm('Are You sure do you wants to delete?');" })
</td>
</tr>
    }
</table>



