@model IEnumerable<crud_example.Models.EmpModel>

<p>
    @Html.ActionLink("Add User", "AddEmployee")
</p>
<table class="table">
    <tr>
        <th style="background-color: lightgray;, border: 1px solid black;">
            <span style="color: midnightblue">
                @Html.DisplayNameFor(model => model.Username)
            </span>
        </th>
        <th style="background-color: lightgray;">
            <span style="color: midnightblue;">
                @Html.DisplayNameFor(model => model.Password)
            </span>
        </th>
        <th style="background-color: lightgray;">
            <span style="color: midnightblue;">
                @Html.DisplayNameFor(model => model.Email)
            </span>
        </th>
        <th style="background-color: lightgray;">
            <span style="color: midnightblue;">
                @Html.DisplayNameFor(model => model.DOB)
            </span>
        </th>
        <th style="background-color: lightgray;">
            <span style="color: midnightblue;">
                @Html.DisplayNameFor(model => model.Gender)
            </span>
        </th>
        <th  style="background-color: lightgray;">
            <span style="color: midnightblue;">
                @Html.DisplayNameFor(model => model.CityName)
            </span>
        </th>
        
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        @Html.HiddenFor(model => item.Userid)
<tr style="background-color: lightblue;">
    <td>
        @Html.DisplayFor(modelItem => item.Username)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Password)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DOB)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gender)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CityName)
    </td>


    <td style="background-color:white">
        @Html.ActionLink("Edit", "EditEmpDetails", new { id = item.Userid }, new { style = "color: blue; font-weight: bold;" }) &nbsp;&nbsp;&nbsp;|
        @Html.ActionLink("Delete", "DeleteEmp", new { id = item.Userid }, new { onclick = "return confirm('Are You sure do you wants to delete?');" })
    </td>
</tr>
    }
</table>



